@font-face  {
    font-family: youyuan;
    src: url("../font/youyuan.ttf") format("truetype");
}
body{
    display:flex;
    flex-direction: column;
    font-family: YouYuan;
    margin: 0;
    padding: 0;
    background-image: url("../image/1.jpg");
    background-size: cover;
    /* background-position: top center ; */
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center; /* 水平居中 */
}


.content{
    display: flex;
    align-items: center;     /* 垂直居中 */
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.205);
    width:75%;
    height:80%;
    margin:20px;
    padding:20px;
    border: solid gray 3px;
}
.content video,img{
   width:75%;
   height:auto;
   
}
.navbar {
    display: flex;
    flex-direction: row;
    height:10%;
    justify-content: space-between; /* 左右分布：logo和导航链接 */
    align-items: center;            /* 垂直居中 */
    padding: 10px 20px;
    background-color: #2c3e50;      /* 深蓝灰色背景 */
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
.navbar a{
    color: white;
    text-decoration: none;
}